.sliderProduct__card {
  max-width: 19em;
  overflow: hidden;
  height: 450px;
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 0 15px #ddd;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1.3em;
  margin-right: 1em;
  border-radius: 10px;
  position: relative;
  transition: all 0.2s ease-in;
  border: 2px solid #ccc;
}
.sliderProduct__card:hover {
  transform: scale(1.01) translateY(-3px);
  box-shadow: 0 15px 30px #ddd;
  border: 2px solid var(--main-color);
}
.sliderProduct__card > img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  cursor: pointer;
}
/* 
.sliderProduct__box h5 {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-transform: capitalize;
  cursor: pointer;
  color: #323232;
  transition: var(--main-transition);
  position: relative;
}
.sliderProduct__box h5:hover {
  color: var(--main-color);
  transform: translateX(10px);
}*/
.sliderProduct__box p {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  height: 70px;
  overflow: hidden;
  color: #323232;
}
/* .row__btn {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
} */
.sliderProduct__price {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}
.sliderProduct__price span:first-child {
  font-size: 14px;
  text-decoration: line-through;
  color: #000;
  opacity: 0.7;
  font-weight: 700;
}
.sliderProduct__price span:last-child {
  font-size: 20px;
  color: #8fd021;
  font-weight: 700;
}

.productItemSlider__btnView {
  display: flex;
  justify-content: center;
  width: 120px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  background-color: var(--main-color);
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  height: 50px;
  transition: all 250ms;
  padding-top: 2px;
  padding-left: 5px;
}
.productItemSlider__btnView p {
  margin-top: 6px;
  margin-left: 5px;
}
.productItemSlider__btnView > svg {
  margin-right: 10px;
  font-size: 50px;
  margin-top: -3px;
  margin-left: 5px;
  margin-right: 10px;
  color: #ffffff;
}
.productItemSlider__btnView:hover {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  transform: translateY(-1px);
}
.productItemSlider__btnView:hover p {
  columns: #fff !important;
}

.productItemSlider__btnView:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

.sliderProduct_card input {
  position: absolute;
  width: 25px;
  height: 25px;
}

/* 
.btn__buy {
  background: rgb(80, 165, 79);
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgb(80, 165, 79);
  font-size: 20px;
  transform: scale(1);
  animation: pulse-yellow 2s infinite;
  border: none;
  color: #fff;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@keyframes pulse-yellow {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(231, 62, 54, 0, 7);
  }

  70% {
    transform: scale(1.2);
    box-shadow: 0 0 0 10px rgba(255, 177, 66, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 177, 66, 0);
  }
}

.btn__buy:hover {
  background: rgb(37, 122, 36);


}
@keyframes pulse-yellow-hover {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 177, 66, 0.7);
  }

  70% {
    transform: scale(1.2);
    box-shadow: 0 0 0 10px rgba(255, 177, 66, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 177, 66, 0);
  }
} */

.sliderProduct__sale {
  position: absolute;
  top: 20px;
  right: 20px;
  display: inline-block;
  background: #faad3d;
  color: white;
  height: 2.5rem;
  width: 2.5rem;
  text-align: center;
  vertical-align: middle;
  line-height: 2.5rem;
  transform: rotate(-20deg);
  animation: beat 1s ease infinite alternate;
}
.sliderProduct__sale:before,
.sliderProduct__sale:after {
  content: "";
  position: absolute;
  background: inherit;
  height: inherit;
  width: inherit;
  top: 0;
  left: 0;
  z-index: -1;
  transform: rotate(30deg);
}
.sliderProduct__sale:after {
  transform: rotate(60deg);
}

@keyframes beat {
  from {
    transform: rotate(-20deg) scale(1);
  }
  to {
    transform: rotate(-20deg) scale(1.1);
  }
}
