.productItem__card {
  max-width: 19em;
  overflow: hidden;
  height: 450px;
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 0 15px #ddd;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1.3em;
  margin-right: 1em;
  border-radius: 10px;
  position: relative;
  transition: all 0.2s ease-in;
  border: 2px solid #ccc;
}

.productItem__card:hover {
  transform: scale(1.01) translateY(-3px);
  box-shadow: 0 15px 30px #ddd;
  border: 2px solid var(--main-color);
}

.productItem__card>img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  cursor: pointer;
}

.product__box h5 {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-transform: capitalize;
  cursor: pointer;
  color: #323232;
  transition: var(--main-transition);
  position: relative;
}

.product__box h5:hover {
  color: var(--main-color);
  transform: translateX(10px);
  /* margin-left: 10px; */
}

.product__box>p {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  /* background: #000; */
  height: 70px;
  overflow: hidden;
  /* background-color: red; */
  color: #323232;
}

.row__btn {
  width: 100%;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.product__price {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.product__price span:first-child {
  font-size: 14px;
  text-decoration: line-through;
  color: #000;
  opacity: 0.7;
  font-weight: 700;
}

.product__price span:last-child {
  font-size: 20px;
  color: #8fd021;
  font-weight: 700;
}

/* -----------------------Btn----------------------- */

.btn__view {
  display: flex;
  justify-content: space-around;
  /* margin-right: 20px; */
  width: 120px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  background-color: var(--main-color);
  cursor: pointer;
  font-weight: 600;
  height: 50px;
  transition: all 250ms;

}

.btn__view p,
.btn__view svg {
  opacity: 0.9;
}

.btn__view p {
  margin-top: 9px;
  font-size: 18px;
  margin-right: 10px;
}

.btn__view svg {
  margin-right: 16px;
  font-size: 30px;
  margin-top: 9px !important;
  margin-left: 10px;
}

.btn__view:hover {
  background-color: #f59453;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  transform: translateY(-1px);
}

.btn__view:hover p,
.btn__view:hover svg {
  color: #000;
  opacity: 1;
}

/* #btn_view {
  background: teal;
  margin-left: 5px;
} */
.btn__view:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

.product_card input {
  position: absolute;
  width: 25px;
  height: 25px;
}

@media (max-width: 720px) {
  .productItem__card {
    width: 85%;
    padding: 15px;
    box-shadow: 0 0 15px #ddd;
    position: relative;
    margin-left: 15px;
  }

  .productItem__card>img {
    width: 100%;
    height: 13em;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
  }
}

.btn__buy {
  background: rgb(80, 165, 79);
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgb(80, 165, 79);
  font-size: 20px;
  transform: scale(1);
  animation: pulse-yellow 2s infinite;
  border: none;
  color: #fff;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@keyframes pulse-yellow {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(231, 62, 54, 0, 7);
  }

  70% {
    transform: scale(1.2);
    box-shadow: 0 0 0 10px rgba(255, 177, 66, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 177, 66, 0);
  }
}

.btn__buy:hover {
  background: rgb(37, 122, 36);

  /* transform: scale(1.1); */
  /* animation: pulse-yellow-hover 5s infinite; */
}

@keyframes pulse-yellow-hover {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 177, 66, 0.7);
  }

  70% {
    transform: scale(1.2);
    box-shadow: 0 0 0 10px rgba(255, 177, 66, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 177, 66, 0);
  }
}

/* .product__sale {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #faad3d;
  padding: 5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
} */

.product__sale {
  position: absolute;
  top: 20px;
  right: 20px;
  display: inline-block;
  background: #faad3d;
  color: white;
  height: 2.5rem;
  width: 2.5rem;
  text-align: center;
  vertical-align: middle;
  line-height: 2.5rem;
  /* margin: 45vh 45vw; */
  transform: rotate(-20deg);
  animation: beat 1s ease infinite alternate;
}

.product__sale:before,
.product__sale:after {
  content: "";
  position: absolute;
  background: inherit;
  height: inherit;
  width: inherit;
  top: 0;
  left: 0;
  z-index: -1;
  transform: rotate(30deg);
}

.product__sale:after {
  transform: rotate(60deg);
}

.productItem__SalePrice {
  color: red;
  font-size: 18px;
  margin-top: -5px;
}

.productItem__actualPrice {
  font-weight: 600;
  color: grey;
  text-decoration: line-through;
}

@keyframes beat {
  from {
    transform: rotate(-20deg) scale(1);
  }

  to {
    transform: rotate(-20deg) scale(1.1);
  }
}