.footer {
  width: 100%;
  background-color: #f3f3f3 !important;
  list-style: none;
  border-top: 1px solid #ccc;
}
@media screen and (max-width: 768px) {
  .footer {
    display: none;
  }
}
.footer__section {
  width: var(--main-width);
  height: 286px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  padding-top: 50px;
}
.footer__section li a {
  color: #000;
  cursor: pointer;
  opacity: 0.7;
  font-size: 14px;
  transition: all 0.255s ease-in-out;
}
.footer__section li:hover a {
  opacity: 1;
  transform: translateX(10px);

  color: var(--main-color);
}
.footer__section li {
  transition: all 0.255s ease-in-out;
  list-style: none;
  padding: 5px;
}
.footer__section li:hover {
  transition: all 0.255s ease-in-out;
  list-style: none;
  opacity: 1;
  color: var(--main-btnColor);
  transform: translateX(4px);
}

.footer .Address h2 {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 10px;
}
.footer .Address a {
  font-weight: 400;
  line-height: 26px;
}

.footer .About h2 {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 10px;
}
.footer .About a {
  font-weight: 400;
  line-height: 26px;
}

.footer .Shop h2 {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 10px;
}

.footer .Support h2 {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 10px;
}

.footer .News h2 {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 10px;
}
.footer .News input {
  border: none;
  margin-left: -5px;
  margin-top: -5px;
}
.footer .News button {
  border: none;
  width: 50px;
  height: 20px;
  margin-left: 50px;
}
.payment__imgs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.payment__imgs img {
  width: 80px;
  margin: 5px;
  cursor: pointer;
  transition: var(--main-transition);
}
.payment__imgs img:hover {
  transform: scale(1.05);
}
