.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  margin: 20px auto;
  width: 90%;
}

@media screen and (max-width: 768px) {
  .home__page {
    margin-top: 20px;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    place-items: center;
    margin-top: 10px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid #000; */
    width: 95%;
  }

  .product__slick {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* justify-content: center; */
    margin: 10px auto;
    width: 90%;
  }

  .product__slick .card {
    margin-left: 40px;
    width: 300px;
    margin-left: 15px;
    transition: var(--main-transition);
  }
}

@media screen and (max-width: 450px) {
  .product__slick {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    width: 90%;
    padding-left: 15px;
    /* align-items: center; */
  }
}

@media screen and (max-width: 400px) {
  .product__slick {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    width: 90%;
    margin-left: 3px;
    padding-left: 0;

    /* align-items: center; */
  }
}

.products .card {
  margin: 10px 0;
  width: 270px !important;
  border: 5px solid #000;
  margin-left: 15px;
  transition: var(--main-transition);
}

.products .card:hover {
  transform: scale(1.01);
}

.products .card-img-top {
  height: 200px;
  object-fit: cover;
  width: 100%;
  /* border: 1px solid #000; */
}

.products .card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.products .card-text {
  height: 70px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.product__slick {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* justify-content: center; */
  margin: 20px auto;
  /* border: 1px solid #000; */
  width: 90%;
}

.product__slick .card {
  margin: 10px 0;
  width: 270px !important;
  /* border: 1px solid #000; */
  margin-left: 15px;
  transition: var(--main-transition);
}

.product__slick .card:hover {
  transform: scale(1.01);
}

.product__slick .card-img-top {
  height: 230px;
  object-fit: cover;
  width: 100%;
  border: 1px solid #000;
}

.product__slick .card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product__slick .card-text {
  height: 70px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.price_option {
  margin-left: 5%;
  margin-top: 5%;
}

/* --------- Detail Product ----------- */
.detail_page {
  padding-left: 30px;
  display: flex;
}

.detail_page .img-thumbnail.active {
  border: 2px solid var(--main-color);
  padding: 2px;
}

.product_video {
  margin-top: -30px;
}

.productDetail__buyBtn {
  width: 150px;
  padding: 10px 20px;
  border-radius: 4px;
  border: 2px solid var(--main-color);
  transition: var(--main-transition);
}

.productDetail__buyBtn:hover {
  transform: scale(1.03) translateY(-3px);
}

@media screen and (max-width: 768px) {
  .detail_page {
    margin-top: 60px;
    margin-bottom: 100px;
  }
}