.signin__formContainer {
  max-width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 50px auto;
}
.signin__btn {
  width: 70%;
  padding: 10px 20px;
  outline: none;
  border: 1px solid #ccc;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 4px;
  margin: 0 15%;
}
@media screen and (max-width: 768px) {
  .signin__formContainer {
    max-width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 100px auto;
  }
}
